{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} <div class="container text-center"> {% endcomment %}
    <div class="row m-2">
        <div class="col-2">
        <div class="position-fixed col-2 p-3">
    </div>
    </div>
            <div class="col-6"><br>
                        <div class="container">
                            <div class="card">
                                <div class="card-header">
                                  <div class="col-1">
                                  <a class="text-decoration-none" href="{% url 'profile' meep.user.id %}">
                                      {% if meep.user.profile.profile_image %}
                                      <img width=50 height=50 class="rounded-circle" src="{{ meep.user.profile.profile_image.url }}"><p class="position-absolute text-black" style="margin-left: 8%;
                                      top: 5%;font-size: 17px;text-align:left;">{{ meep.user.username|capfirst }}<br>
                                      <small class"text-muted" style="text-align:left;">
                                        {{ meep.created_at }} 
                                      </small>
                                    </p>
                                      
                                      {% else %}
                                      <img width=50 height=50 class="rounded-circle" src="{% static 'img/profile.jpeg' %}"><p class="position-absolute text-black" style="margin-left: 8%;
                                      top: 5%;font-size: 17px;text-align:left;">{{ meep.user.username|capfirst }}<br>
                                      <small class"text-muted" style="text-align:left;">
                                        {{ meep.created_at }} 
                                      </small>
                                    </p>
                                      {% endif %}
                                  </a>
                                  <div class="position-absolute" style="margin-left:93%; top:10%" >
                                    {% if meep.user.id == request.user.id %}
                                        <a href="{% url 'delete_meep' meep.id %}"> <i class="fa fa-trash" style="color:black; font-size: 15px;"></i>   </a>
                                    {% endif %}
                                    </div>
                                  </div>
                                </div>
                                <div class="card-body">
                                
    
    
                            <div class="row">
                                <div class="col-12">
                                    {{ meep.body }}<br><br>
                                </div><br>
                                <div class="row">
                                <div class="col-1">
                                    {% if user in meep.likes.all %}
                                    <a class="text-decoration-none" href="{% url 'meep_like' meep.id %}"> <i class="fa-solid fa-heart fa-fade" style="color:red; font-size: 20px;"></i><p class="text-dark"  style="margin-left:5px" >{{ meep.number_of_likes }}</p></a>
                                    {% else %}
                                    <a class="text-decoration-none" href="{% url 'meep_like' meep.id %}"> <i class="fa fa-heart-o" style="color:black; font-size: 20px;"></i> <p class="text-dark" style="margin-left:5px" >{{ meep.number_of_likes }}</p></a>
                                    {% endif %}
                                </div><br>
                                <div class="col-1">
                                    <a class="text-decoration-none" href="{% url 'meep_comment' meep.id %}"> <i class="fa-regular fa-comment" style="color:black; font-size: 20px;"></i><p class="text-dark" style="margin-left:5px" >{{ meep.comment_on_tweet.count }} </p> </a>
                                    
                                </div>
                                <div class="col-1">
                                    <a href="{% url 'meep_show' meep.id %}"> <i class="fa fa-send" style="color:black; font-size: 20px;"></i> </a>
                                    
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div><br>
            </div>
    
    
            <div class="col-4"><br>
                {% if form %}
                <form class="position-fixed" method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark col-12">Update Tweet!</button>
                  </form>
                {% endif %} 
            </div>
    
    
            
    {% endblock  %}