{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Twitter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'profile_list' %}">Profile List</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
        <div class="">
          {% if user.is_authenticated %}
            <a  class ="text-decoration-none" href = "{% url 'profile' user.id %}" >
              {% if request.user.profile.profile_image %}
              <img src="{{ request.user.profile.profile_image.url}}" height=50  width=50 class="m-1 rounded-circle" alt="profile images">
              {% else %}
              <img src="{% static 'img/profile.jpeg' %}" height=50  width=50 class="m-1 rounded-circle" alt="profile images">
              {% endif %}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <br><br><br>
